.user-menu:not(.revamped) {
  #quick-access-messages {
    .panel-body-bottom:not(.custom-pm-panel-body-bottom) {
      // this hides the default buttons
      display: none;
    }
    .custom-pm-panel-body-bottom {
      // these are the new buttons
      button {
        margin-left: 0.5em;
      }
    }
  }
}

.user-menu.revamped {
  .new-pm-dropdown-button {
    margin-left: 0.5em;
  }

  @if $hide_button_text == "true" {
    .new-pm-dropdown-button {
      .d-icon {
        margin: 0;
      }
      .d-button-label {
        display: none;
      }
    }
  }
}
